ppla-qb-ws/src/main/webapp/wsdl/QBWebConnectorSvcSoap.wsdl

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://developer.intuit.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://developer.intuit.com/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://developer.intuit.com/">
      <s:element name="authenticate">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="strUserName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strPassword" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="authenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="authenticateResult" type="tns:ArrayOfString"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element maxOccurs="unbounded" minOccurs="0" name="string" nillable="true" type="s:string"/>
        </s:sequence>
      </s:complexType>

<!-- added these two methods -->
	<s:element name="serverVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="strVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="serverVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="serverVersionResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clientVersion">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="strVersion" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clientVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="clientVersionResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>


      <s:element name="sendRequestXML">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ticket" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strHCPResponse" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="strCompanyFileName" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="qbXMLCountry" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="qbXMLMajorVers" type="s:int"/>
            <s:element maxOccurs="1" minOccurs="1" name="qbXMLMinorVers" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sendRequestXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sendRequestXMLResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveResponseXML">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ticket" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="response" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="hresult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveResponseXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="1" name="receiveResponseXMLResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="connectionError">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ticket" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="hresult" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="message" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="connectionErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="connectionErrorResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastError">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ticket" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getLastErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="getLastErrorResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="closeConnection">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="ticket" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="closeConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="closeConnectionResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <wsdl:message name="authenticateSoapIn">
    <wsdl:part element="tns:authenticate" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="authenticateSoapOut">
    <wsdl:part element="tns:authenticateResponse" name="parameters"/>
  </wsdl:message>

<!-- added this part -->
  <wsdl:message name="serverVersionSoapIn">
    <wsdl:part element="tns:serverVersion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="serverVersionSoapOut">
    <wsdl:part element="tns:serverVersionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="clientVersionSoapIn">
    <wsdl:part element="tns:clientVersion" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="clientVersionSoapOut">
    <wsdl:part element="tns:clientVersionResponse" name="parameters"/>
  </wsdl:message>


  <wsdl:message name="sendRequestXMLSoapIn">
    <wsdl:part element="tns:sendRequestXML" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="sendRequestXMLSoapOut">
    <wsdl:part element="tns:sendRequestXMLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveResponseXMLSoapIn">
    <wsdl:part element="tns:receiveResponseXML" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveResponseXMLSoapOut">
    <wsdl:part element="tns:receiveResponseXMLResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="connectionErrorSoapIn">
    <wsdl:part element="tns:connectionError" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="connectionErrorSoapOut">
    <wsdl:part element="tns:connectionErrorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getLastErrorSoapIn">
    <wsdl:part element="tns:getLastError" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getLastErrorSoapOut">
    <wsdl:part element="tns:getLastErrorResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="closeConnectionSoapIn">
    <wsdl:part element="tns:closeConnection" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="closeConnectionSoapOut">
    <wsdl:part element="tns:closeConnectionResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="QBWebConnectorSvcSoap">
	
	<!-- add this chunk -->
	<wsdl:operation name="serverVersion">
      <wsdl:input message="tns:serverVersionSoapIn"/>
      <wsdl:output message="tns:serverVersionSoapOut"/>
    </wsdl:operation>
	<wsdl:operation name="clientVersion">
      <wsdl:input message="tns:clientVersionSoapIn"/>
      <wsdl:output message="tns:clientVersionSoapOut"/>
    </wsdl:operation>


    <wsdl:operation name="authenticate">
      <wsdl:input message="tns:authenticateSoapIn"/>
      <wsdl:output message="tns:authenticateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="sendRequestXML">
      <wsdl:input message="tns:sendRequestXMLSoapIn"/>
      <wsdl:output message="tns:sendRequestXMLSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="receiveResponseXML">
      <wsdl:input message="tns:receiveResponseXMLSoapIn"/>
      <wsdl:output message="tns:receiveResponseXMLSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="connectionError">
      <wsdl:input message="tns:connectionErrorSoapIn"/>
      <wsdl:output message="tns:connectionErrorSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="getLastError">
      <wsdl:input message="tns:getLastErrorSoapIn"/>
      <wsdl:output message="tns:getLastErrorSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <wsdl:input message="tns:closeConnectionSoapIn"/>
      <wsdl:output message="tns:closeConnectionSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="QBWebConnectorSvcSoap" type="tns:QBWebConnectorSvcSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<!-- this too was added... -->
	<wsdl:operation name="serverVersion">
      <soap:operation soapAction="http://developer.intuit.com/serverVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="clientVersion">
      <soap:operation soapAction="http://developer.intuit.com/clientVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://developer.intuit.com/authenticate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendRequestXML">
      <soap:operation soapAction="http://developer.intuit.com/sendRequestXML" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveResponseXML">
      <soap:operation soapAction="http://developer.intuit.com/receiveResponseXML" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectionError">
      <soap:operation soapAction="http://developer.intuit.com/connectionError" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastError">
      <soap:operation soapAction="http://developer.intuit.com/getLastError" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <soap:operation soapAction="http://developer.intuit.com/closeConnection" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="QBWebConnectorSvc">
    <wsdl:port binding="tns:QBWebConnectorSvcSoap" name="QBWebConnectorSvcSoap">
      <soap:address location="http://tempuri.org/ppla-qb-ws/services/QBWebConnectorSvcSoap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
